header {
    background-color: #333;
    color: #fff;
}

.topnav{
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.topnav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.topnav li {
    margin: 0 15px;
}

.topnav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 10px;
    display: block;
}

.topnav a:hover {
    background-color: #555;
    border-radius: 5px;
}